div.aboutcer_stamp {
    background: url("/core/assets/pmh/images/aboutcer_stamp.png") no-repeat scroll 0 0 transparent;
    height: 110px;
    width: 210px;
}

div.aboutcer_pyramid {
    background: url("/core/assets/pmh/images/aboutcer_pyramid.png") no-repeat scroll 0 0 transparent;
    height: 285px;
    width: 460px;
}

div.aboutcer_diagrams {
    text-indent: -9999em;
}