#maincontent { padding-left: 0 !important; width: 100%; }
.page .container { margin: 0; padding: 0 }
.masthead{display:block;background:#fff;float:left;width:100%;margin:0 auto;display:block;max-width:1200px;height:398px;background-image:url(/core/assets/pmh/images/banner.jpg) !important;background-repeat:no-repeat;font-size:3em;}
.masthead a{float:right;text-decoration:none;}
.content .masthead a:link, .content .masthead a:visited, .content .masthead a:hover, .content .masthead a:active{border-width:0;color:#fff;}
.content .masthead a:focus{border-width:0;color:#fff;}
.masthead .whatworks{font-size:2em;padding-top:20px;display:block;line-height:1em;}
.masthead p{margin:0;text-align:right;padding:0 20px;display:block;}
#maincontent .contact_info { clear: both; text-align: left; font-size: 11px; background-color: #eee; padding: 0.6em 0 0.6em 16px; margin: 0 0 -1.2em; zoom: 1; }
#pmh_footer{color:#14376c;background-color:#fff;overflow:visible;text-align:center;overflow:hidden}
#pmh-footer-contents-left #partner {display: table; margin-bottom:2em; }
#pmh-footer-contents-left .partnership {margin:1.75em 0 0;}
#pmh-footer-contents-left a {background: transparent url("/core/assets/pmh/images/partner_logos_sprite_transparent.png") no-repeat scroll;border-width:0; float:left; overflow:hidden; margin-top:1em;text-indent:-999em; margin-right:7px;display:inline-block;}
#partner p a#partnership_about {background: none; margin:0; float:none; text-indent:0; font-weight:normal;min-height:100%;height:auto;}
#pmh-footer-contents-left a.ahrq_img_link {background-position: 0 0;width:60px;height: 27px;}
#pmh-footer-contents-left a.crd_img_link {background-position: 0 -27px; width:200px;height:36px;}
#pmh-footer-contents-left a.cochrane_img_link {background-position: 0 -63px;width:122px;height:35px;}
#pmh-footer-contents-left a.iqwig_img_link {background-position: 0 -99px;width:53px;height: 23px;}
#pmh-footer-contents-left a.nci_img_link {background-position:0 -122px;width:46px;height:30px;}
#pmh-footer-contents-left a.nhs_choice_img_link {background-position: 0 -152px;width:106px;height:28px;}
#pmh-footer-contents-left a.nice_img_link {background-position: 0 -180px;width:195px;height:38px;}
#pmh-footer-contents-left a.nhs_img_link {background-position: 0 -218px;width:90px;height:38px;}
#pmh-footer-contents-left a.ohsu_img_link {background-position: 0 -256px;width:120px;height:33px;}
#pmh-footer-contents-left a.va_img_link {background-position: 0 -289px;width:52px;height:49px;}
#pmh-footer-contents-left a.cadth_img_link { background-position: 0 -336px; width: 69px; height: 36px;}
#pmh-footer-contents-left a.nhlbi_choice_img_link { background-position: 0 -375px; width: 129px; height: 36px;}
#pmh-footer-contents-left a.sbu_img_link { background-position: 0 -417px; width: 36px; height: 36px;}
#pmh-footer-contents-left a.nokc_img_link { background-position: 0 -458px; width:200px; height:36px;}